DATABASE_URL=postgresql://user:password@localhost:5432/tontine_db
JWT_SECRET=ton_secret_jwt
JWT_REFRESH_SECRET=ton_secret_refresh
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=ton@email.com
MAIL_PASS=ton_mot_de_passe
MAIL_FROM=noreply@tontine.com
FRONTEND_URL=http://localhost:5173
PORT=3000
