DATABASE_URL=postgresql://user:password@localhost:5432/tontine_db
JWT_SECRET=ton_secret_jwt
JWT_REFRESH_SECRET=ton_secret_refresh

# MailerSend Configuration
MAILERSEND_API_KEY=votre_token_mailersend
MAIL_FROM_EMAIL=noreply@trial-xxxxx.mlsender.net
MAIL_FROM_NAME=Tontine

FRONTEND_URL=http://localhost:5173
PORT=3000
